/* dropDown.css */

/* Variables */
:root {
	/* colors */
	--neutral-900: #1b1a21;
	--neutral-900-opacity: #1b1a21f5;  /* adds 0.96 opacity */
	--neutral-800: #4c4a57;
	--neutral-700: #777582;
	--neutral-300: #e6e5ea;
	--neutral-200: #f3f3f5;
	--neutral-100: #fafafa;
	--blue-900: #1188F5;
	--blue-800: #4A91E3;
	--green-900: #00873f;
	--red-900: #c41337;

	/* gradients */
	--purple-gradient: linear-gradient(180deg, #AA00FF 0%, #00A3D7 100%);

	/* shadows */
	--shadow: drop-shadow(0px 1px 4px rgba(27, 26, 33, 0.25));

	/* fonts */
	--main-font: 'Lato', sans-serif;
}

.drop-down-form {
	display: flex;
	flex-direction: column;
	gap: 6px;
	width: 100%;
}

label {
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 16px;
	color: var(--neutral-800);
}

.select {
	box-sizing: border-box;
	background: var(--neutral-200);
	border: 1px solid var(--neutral-200);
	padding: 6px 12px;
	border-radius: 4px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;

	/* disables text selection */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#select-text, .option {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: var(--neutral-900);
}
#select-text {
	color: var(--neutral-700);
}
.selected-text {
	color: var(--neutral-900) !important;
}

.options {
	position: absolute;
	width: 395px;
	background-color: white;
	transform: translate(0, 65px);
	border: 1px solid var(--neutral-300);
	border-radius: 4px;
	filter: var(--shadow);
}
.option {
	cursor: pointer;
	padding: 6px 16px;
}
.option:hover {
	background-color: var(--neutral-200);
}

#select-icon {
	color: var(--neutral-700);
}

#size-error-message {
	display: none;
}
